<mat-label class="mat-h1">Updates</mat-label>
<style>
  img.icon {
            display:inline;
            width: 50px; /* Set the width to the desired icon width */
            height: 50px; /* Set the height to the desired icon height */
        }
  /* Style for the navigation bar */
        /* Style for the navigation bar */
        .container {
            text-align: center; /* Center-align the content */
            background-color: #8e95e3;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
        }
        ul.navbar {
            list-style-type: none;
            margin: 0;
            justify-content: center;
            padding: 0;
            background-color: black;
            overflow: hidden;
            display: inline-block; /* Display the ul horizontally */
        }

        /* Style for the navigation bar items (list items) */
        ul.navbar li {
            border: 1px solid black;
            display: inline; /* Display list items inline within the ul */
            margin-right: 10px; /* Add spacing between list items */
        }

        ul.navbar li a {
            color: white;
            text-decoration: none;
        }
        ul.navbar li button {
          color: grey;
            text-decoration: none;
        }
        /* Style for the navigation bar items on hover */
        ul.navbar li a:hover {
            background-color: #555;
        }
        table.center {
            margin: 0 auto; /* Set margin to auto for horizontal centering */
        }
        .center-horizontally {
            margin: 0 auto; /* Set margin to auto for horizontal centering */
            text-align: center; /* Optional: Center-align the content within the div */
        }
</style>
<div class="container">
  <img class="icon" [src]="setting.imageUrl">
  <mat-label class="mat-h2">Welcome <span>{{name | titlecase}}</span>, the weather is <span>{{setting.weather}} today</span></mat-label>
  <br>
  <mat-list>
    <mat-list-item> <mat-icon>view_list</mat-icon><a routerLink="/watchlist/{{name}}">Watch List</a></mat-list-item>
    <mat-list-item><mat-icon>settings</mat-icon><a routerLink='/settings/{{name}}'>Setting</a></mat-list-item>
    <mat-list-item><mat-icon>exit_to_app</mat-icon><button mat-raised-button color="primary" (click)="logout()">Logout</button></mat-list-item>
  </mat-list>
</div>
<!-- <nav>
  <a routerLink="/watchlist/{{name}}">Watch List</a>
  <br>
  <a routerLink='/settings/{{name}}'>Settings</a>
  <br>
  <button (click)="logout()">Logout</button>
</nav> -->
<body style="background-color: #f0f0f0;">
<br>
  <div class="center-horizontally">
    <div *ngIf="addchapter">
    <div>
      <label>Insert chapter URL here: </label>
      <input #box
      (keyup.enter)="update(box.value)"
      (blur)="update(box.value)">
    </div>
    <div *ngIf="added">
      <p>{{added | titlecase}}</p>
    </div>
    <div>
      <mat-icon>playlist_add</mat-icon><button (click)="addnewchapter()">Add</button>
    </div>
    </div>
    <div *ngIf="!addchapter">
      <mat-icon>playlist_add</mat-icon><button mat-raised-button color="primary" (click)="add()">Add Chapter</button>
    </div>
  </div>
  <div>


    <!-- Add a paginator for pagination (optional) -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator> -->
    <table class="center">
      <thead>
        <tr>Updated Chapters</tr>
      </thead>
      <tbody>
        <tr *ngFor="let novel of updates; let i=index">
          <!-- <td [ngClass]="{ 'font-size': setting.frontSize ? setting.frontSize : '24px'} "> -->
          <td>
            <a (click)="updatechapter(novel.url, novel.title)" href="">{{novel.title}}</a>
            <br>
            <a (click)="updatechapter(novel.url, novel.title)"><img [src]="novel.image"></a>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
</body>

