<div class="container2">
  <mat-label class="mat-h1" style="font-size:40px"><a routerLink="/main/{{name}}">NextChapter</a></mat-label>
</div>
<style>
  .container {
            text-align: center; /* Center-align the content */
            background-color: #8e95e3;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
          }
          .container2 {
            text-align: center; /* Center-align the content */
            background-color: #dddeeb;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
          }
          .center-horizontally {
            margin: 0 auto; /* Set margin to auto for horizontal centering */
            text-align: center; /* Optional: Center-align the content within the div */
          }
          img.icon {
            display:inline;
            width: 50px; /* Set the width to the desired icon width */
            height: 50px; /* Set the height to the desired icon height */
            margin-right: 12px;
          }
          .horizontal-list {
            list-style: none; /* Remove the default list-style (bullets/numbers) */
            padding: 0; /* Remove any default padding */
            margin: 0; /* Remove any default margin */
            display: flex; /* Use flexbox to create a horizontal layout */
          }
          .horizontal-list li {
            margin-right: 10px; /* Add space between list items (adjust as needed) */
            /* Additional styling for list items */
          }
          .bigger-input {
            width: 300px; /* Set the desired width in pixels */
            height: 40px; /* Set the desired height in pixels */
            font-size: 16px; /* Set the desired font size in pixels */
          }
</style>
<div class="container">
  <div *ngIf="setting.imageUrl">
    <img class="icon" [src]="setting.imageUrl" alt="">
  </div>
  <div *ngIf="!setting.imageUrl">
    <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Fantasy_icon.svg">
  </div>
  <mat-label class="mat-h2">Welcome <span>{{name | titlecase}}</span></mat-label>
  <br>
  <mat-list class="horizontal-list">
    <mat-list-item><a routerLink="/main/{{name}}"><mat-icon>star_border</mat-icon>Updates</a></mat-list-item>
    <mat-list-item><a routerLink='/watchlist/{{name}}'><mat-icon>view_list</mat-icon>Watch List</a></mat-list-item>
    <mat-list-item><button mat-raised-button color="primary" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button></mat-list-item>
  </mat-list>
  <form [formGroup]="form">
    <!-- <div>
      <mat-label style="font-size:20px">Font Size</mat-label>
      <br>
      <input matInput type="number" formControlName="frontSize" placeholder="14-40">
      <div *ngIf="form.get('frontSize')?.hasError('required')">
        Please enter a font size
      </div>
      <div *ngIf="form.get('frontSize')?.hasError('min')">
        Cannot be too small
      </div>
      <div *ngIf="form.get('frontSize')?.hasError('max')">
        Cannot be too big
      </div>
    </div> -->
    <div>
      <mat-radio-group formControlName="weatherEffect">
        <mat-label style="font-size:20px">Weather Effect</mat-label>
      <br>
      <mat-radio-button value="True">Enable</mat-radio-button>
      <mat-radio-button value="False">Disable</mat-radio-button>
      </mat-radio-group>
    </div>
    <br>
    <div>
      <mat-label style="font-size:20px">Profile Picture:</mat-label>
      <br>
      <input type="file" formControlName="myfile" #toupload class="bigger-input">
    </div>
    <br>
    <div>
      <button mat-raised-button color="primary" (click)="save()">Save changes</button>
    </div>
  </form>
</div>
