<div class="container2">
  <mat-label class="mat-h1" style="font-size:40px"><a routerLink="">NextChapter</a></mat-label>
</div>
<style>
  .container {
            text-align: center; /* Center-align the content */
            background-color: #8e95e3;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
        }
        .container2 {
            text-align: center; /* Center-align the content */
            background-color: #dddeeb;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
          }
          .left-aligned-form {
            text-align: left; /* Set the text alignment of the form to left */
          }
          .left-div, .right-div {
            width: 50%; /* Set both divs to occupy 50% of the container width */
            float: left; /* Float the divs left to make them side by side */
            /* Optionally, you can add styles to the divs */
          }
</style>
<div class="container">
  <div *ngIf="errorMsg">
    <p>{{errorMsg}}</p>
  </div>
  <form [formGroup]="form">
    <div>
      <mat-label class="mat-h1" style="font-size:20px">Username </mat-label><br>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="form.controls['username'].errors?.['required']">Name is a required field</mat-error>
    </div>
    <div>
      <mat-label class="mat-h1" style="font-size:20px">Email</mat-label><br>
      <input matInput type="text" formControlName="email">
      <mat-error *ngIf="form.controls['email'].errors?.['required']">Email is a required field</mat-error>
      <mat-error *ngIf="form.controls['email'].errors?.['email']">Needs a valid email</mat-error>
    </div>
    <div>
      <mat-label class="mat-h1" style="font-size:20px">Password </mat-label><br>
      <input matInput type="password" formControlName="password1" [(ngModel)]="password1">
      <mat-error *ngIf="form.controls['password1'].errors?.['required']">Password is a required field</mat-error>
      <mat-error *ngIf="form.controls['password1'].errors?.['minlength']">Minimum length is 8</mat-error>
    </div>
    <div>
      <mat-label class="mat-h1" style="font-size:20px">Password </mat-label><br>
      <input matInput type="password" formControlName="password2" [(ngModel)]="password2" (ngModelChange)="checkSame($event)">
      <mat-error *ngIf="form.controls['password1'].errors?.['required']">Password is a required field</mat-error>
      <div *ngIf="samepassword">
        <label>{{samepassword}}</label>
      </div>
    </div>
    <div>
      <mat-label class="mat-h1" style="font-size:20px">Country </mat-label><br>
      <input matInput type="text" formControlName="country">
      <mat-error *ngIf="form.controls['country'].errors?.['required']">Country is a required field</mat-error>
    </div>
    <div>
      <mat-label class="mat-h1" style="font-size:20px">City </mat-label><br>
      <input matInput type="text" formControlName="city">
      <mat-error *ngIf="form.controls['city'].errors?.['required']">City is a required field</mat-error>
    </div>
    <br>
    <div class="left-div">
      <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid">Submit</button>
    </div>
    <div class="right-div">
      <button mat-raised-button color="primary" (click)="back()">Back</button>
    </div>
  </form>
</div>

