<div class="container2">
  <mat-label class="mat-h1" style="font-size:40px"><a routerLink="/main/{{name}}">NextChapter</a></mat-label>
</div>
<style>
  .image-style {
            width: 300px; /* Set the width of the image */
            height: 400px; /* Set the height of the image */
          }
          .container {
            text-align: center; /* Center-align the content */
            background-color: #8e95e3;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
          }
          .container2 {
            text-align: center; /* Center-align the content */
            background-color: #dddeeb;
            border: 1px solid #ccc; /* Add a border for illustration */
            padding: 10px;
            overflow: auto;
          }
          .center-horizontally {
            margin: 0 auto; /* Set margin to auto for horizontal centering */
            text-align: center; /* Optional: Center-align the content within the div */
          }
          table.center {
            margin: 0 auto; /* Set margin to auto for horizontal centering */
          }
          .horizontal-list {
            list-style: none; /* Remove the default list-style (bullets/numbers) */
            padding: 0; /* Remove any default padding */
            margin: 0; /* Remove any default margin */
            display: flex; /* Use flexbox to create a horizontal layout */
          }
          .horizontal-list li {
            margin-right: 10px; /* Add space between list items (adjust as needed) */
            /* Additional styling for list items */
          }
          img.icon {
            display:inline;
            width: 50px; /* Set the width to the desired icon width */
            height: 50px; /* Set the height to the desired icon height */
            margin-right: 12px;
          }
</style>
<div class="container">
  <div *ngIf="setting.imageUrl">
    <img class="icon" [src]="setting.imageUrl" alt="">
  </div>
  <div *ngIf="!setting.imageUrl">
    <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Fantasy_icon.svg">
  </div>
  <mat-label class="mat-h2">Welcome <span>{{name | titlecase}}</span></mat-label>
  <br>
  <mat-list class="horizontal-list">
    <mat-list-item><a routerLink="/main/{{name}}"><mat-icon>star_border</mat-icon>Updates</a></mat-list-item>
    <mat-list-item><a routerLink='/settings/{{name}}'><mat-icon>settings</mat-icon>Setting</a></mat-list-item>
    <mat-list-item><button mat-raised-button color="primary" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button></mat-list-item>
  </mat-list>
  <mat-label>Supports chapters from <a href="https://shanghaifantasy.com/" target="_blank">shanghaifantasy</a></mat-label>
    <br><br>
    <div *ngIf="addchapter">
      <div>
        <label>Insert chapter URL here: </label>
        <input #box
        (keyup.enter)="update(box.value)"
        (blur)="update(box.value)">
      </div>
      <br>
      <div *ngIf="added">
        <p>{{added | titlecase}}</p>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="addnewchapter()"><mat-icon>playlist_add</mat-icon>Add</button>
      </div>
    </div>
    <div *ngIf="!addchapter">
      <button mat-raised-button color="primary" (click)="add()"><mat-icon>playlist_add</mat-icon>Add Chapter</button>
    </div>
</div>
<div></div>
  <div class="center-horizontally">
    <table class="center">
      <tbody>
        <tr *ngFor="let novel of novels">
          <td>
            <img [src]="novel.image" class="image-style">
            <br>
            <mat-label class="mat-h2">{{novel.title}}</mat-label>
            <br>
            <button (click)="delete(novel.title)">Remove item from watch list</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

